day*.txt
*.exe

# day3: python
env/
__pycache__/

# day4: rust
*.pdb

# day5: typescript
node_modules/
out/

# day6: java
*.class

# day7: c#
bin/
obj/

# day8: swift
*.exp
*.lib

# day12: kotlin
*.jar

# day16: d
*.obj
